@import './components/layouts/footer';
@import './components/layouts/navBar';
@import './components//layouts/sideBar';
@import './components/modalComment';
@import './components/buttonPostShare';

@import './views/user-form';
@import './views/explore';
@import './views/screens/home';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

.container {
  max-width: 1200px;
  margin: auto;


  .container-body {
    padding: 0.7rem 2rem;
    display: flex;
    
    .article {
      width: 100%;
      max-width: 600px;
      margin: 0 40px;
      background-color: pink;
    }
  }
}

a {
  text-decoration: none;
  color: #2c3e50;
}
