@import './components/layouts/footer';
@import './components/layouts/navBar';
@import './components/commentModal';

@import './views/user-form';
@import './views/explore';
@import './views/screens/home';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

.container {
  max-width: 1200px;
  margin: 150px auto;
}

a {
  text-decoration: none;
  color: #2c3e50;
}
