.home {
  padding: 0.7rem 2rem;

  .home-body {
    display: flex;
  }

  .shortcuts-field {
  }

  .posts {
    margin: 0 40px;
    width: 100%;
    max-width: 600px;
    background-color: pink;
  }
}
