.setting-account-delete {
  .password-form-container {
    display: flex;
    justify-content: center;
    margin: 100px auto;

    form {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin-block-start: 30px;
      border: 1px solid #00000024;
      box-shadow: 0.1px 0.1px 0.1px 0.1px;
      border-radius: 5px;
      padding: 15px;

      .form-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;

        label {
          font-size: 15px;
          margin-bottom: 15px;
        }

        input {
          font-size: 15px;
          border: none;
          border-bottom: 1px solid rgba(175, 175, 175, 0.272);
          background-color: white;
        }
      }

      .btn-back {
        margin: 10px 5px !important;
      }

      .btn {
        color: white;
        background: red;
        border: 1px solid red;
        border-radius: 5px;
        margin: 15px 5px;
        padding: 5px 15px;
      }
    }
  }

  .confirm-delete-account-container {
    margin: 100px auto;
    width: 50%;
    text-align: center;

    .button-field {
      display: flex;
      justify-content: center;

      .btn-back {
      }

      .user-delete-button {
      }
    }
  }
}
