.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-block-start: 30px;
    border: 1px solid #00000024;
    box-shadow: 0.1px 0.1px 0.1px 0.1px;
    border-radius: 5px;
    padding: 15px;

    .form-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px auto;

      label {
        font-size: 15px;
        margin-bottom: 15px;
      }

      input {
        font-size: 15px;
        border: none;
        border-bottom: 1px solid rgb(175, 175, 175);
        background-color: white;
      }
    }

    .btn {
      color: white;
      background: green;
      border: 1px solid green;
      border-radius: 5px;
      margin: 10px auto;
      padding: 5px 15px;
    }
  }
}