nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  height: 70px;
  max-width: 1200px;

  .fa-wallet {
    font-size: 25px;
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      margin: auto 10px;
      padding: 5px 20px;
      background-color: green;
      border-radius: 3px;

      a {
        color: white;
      }

      .btn {
        color: white;
        background-color: green;
        border: none;
      }
    }
  }
}
